@import "../bower_components/bootstrap/less/bootstrap.less";

@icon-font-path: "../bower_components/bootstrap/fonts/";

// Here we can re-define the variables that Bootstrap uses to customize stuff
// See http://stackoverflow.com/a/19514889/1877527
// See here for the variable names and declarations:
// http://getbootstrap.com/customize/#less-variables

@import "lightbox.less";



// Main content
@font-family-sans-serif: Roboto, "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: "Roboto Slab", Droid, Cambria, Georgia, "Times New Roman", Times, serif;
@font-family-monospace: "Droid Sans Mono", Menlo, Monaco, Consolas, "Courier New", monospace;

body {
    padding:1rem;
}


@asm-blue-light: #446f74;
@asm-blue-header: #134446;
@asm-blue-dark: #013434;


@material-blue: #5677fc;
@material-green: #4CAF50;
@material-indigo: #3f51b5;
@material-cyan: #00bcd4;
@material-teal: #009688;
@material-blue-grey: #607d8b;
@material-red: #F44336;

@bs-info: #5bc0de;
@bs-danger: #d9534f;
@bs-warning: #f0ad4e;

@combinator: ~">>>";
@hc: ~"html >>>";

.sample-change-also {
    text: @material-red;
}

.materialblue {
    background: @material-blue;
    color:#fff;
}


.asm-blue-light-text {
    color: @asm-blue-light;
}
.asm-blue-light {
    color: #ccc;
    background: @asm-blue-light;
}

.asm-blue {
    color: @asm-blue-header;
}
.asm-blue {
    color: white;
    background: @asm-blue-header;
}

.asm-blue-dark-text {
    color: white;
    color: @asm-blue-dark;
}
.asm-blue-dark {
    background: @asm-blue-dark;
}


paper-fab.materialblue.paper-fab-0 {
    .materialblue();
}

/*
 * LESS is failing at these for now:
 * https://github.com/less/less.js/issues/2623
 *
 * So until it's fixed, these need escaping.
 * http://lesscss.org/features/#features-overview-feature-escaping
 */

@{hc} .materialblue {
    .materialblue();
}

.materialgreen, .materialblue:hover, paper-fab.materialblue.paper-fab-0:hover {
    background: @material-green;
    color: #fff;
}

.materialindigo {
    background: @material-indigo;
    color:#fff;
}

.extreme-danger {
    box-shadow: 0 0 2em 0.25em #f00;
    background:#f00;
    color: #fff;
}

.fadebg {
    transition:all .2s ease-out;
    -webkit-transition:all .2s ease-out;
    -moz-transition:all .2s ease-out;
    -o-transition:all .2s ease-out;
}

.materialcyan {
    background: #00bcd4;
    color:#fff;
}

.materialteal {
    background: #009688;
    color:#fff;
}

.materialbluegrey {
    background: #607d8b;
    color:#fff;
}

.materialbluetext, paper-button[affirmative] {
    color:@material-blue!important;

}

@{hc} [affirmative] {
    color:@material-blue!important;

}

.materialindigotext {
    color: @material-indigo;

}

.materialcyantext {
    color: @material-cyan;

}

.materialtealtext {
    color: @material-teal;

}

.materialbluegreytext {
    color: @material-blue-grey;

}

paper-dialog-scrollable {
    padding: 1rem !important;
    //min-height: 15rem;
    //height: 40vh;
}

@{hc} paper-dialog-scrollable {
    padding: 1rem !important;
}

@media (max-width: 767px) {
    paper-dialog-scrollable {
        //height: 50vh;
    }
}



// Search page

.toggle-container {
    paper-icon-button {
        margin-top: calc( -.5em ~"-" 5px);
    }
}

#eutheria-extra {
    display: inline-block;
}



// Admin page


#modal-taxon, #modal-taxon-edit {
    // position:fixed !important;
    // max-height:75vh; // For mobile
    // top: 12.5vh;
    // @media(max-width: @screen-sm-max) {
    //     top: 6.5vh;
    // }
    paper-dialog-scrollable#modal-taxon-editor {
        max-height: 66vh;
        overflow-y: scroll;
    }
}

paper-dialog#modal-taxon .buttons, paper-dialog#modal-taxon-edit .buttons {
    background: #fff;
}

#modal-taxon-content {
    // Why this? This fixes a bug where paper-dialog.fit()
    // shrinks the max-width of this to something small, like
    // 48px.
    // See
    // https://github.com/SSARHERPS/SSAR-species-database/issues/79
    min-width: 95% !important;
    @media(max-width: @screen-sm-max) {
        position: relative;
        overflow-y: scroll;
        max-height: 62vh!important;
    }
}

@{hc} .good-location {
    color: @material-green;
}
.good-location {
    color: @material-green;
}

@{hc} .bad-location {
    color: @material-red;
}
.bad-location {
    color: @material-red;
}

.tooltip-container {
    float:left;
    display:inline-block;
}
@{hc} .tooltip-container {
    .tooltip-container();
}
.italic {
    font-style:italic;
}
.click {
    cursor:pointer;
}
.med-octicon {
    font-size:24px !important;
}
#result_container {
    padding:1em;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #fff;
    box-shadow: 5px 5px 8px 5px rgba(0,0,0,.5);
}

header {
    .logo-container {
        .col-xs-2;
        .pull-left;
        img {
            max-height: 2em;
            max-width: 2em;
        }
    }
}

#title-logo {
    height: 1.5em;
}

.force-lower {
    text-transform: lowercase !important;
}


.no-cap {
    text-transform: none !important;
}


.capitalize,
.cndb-row-headers th,
.genus,
.genus_authority,
.species_authority,
.common_name,
.major_subtype,
.major_type,
.linnean_order,
.linnean_family,
.simple_linnean_subgroup,
.cndb-row-headers th {
    text-transform:capitalize;
}



.modal-img-container {
    float: right;
    margin-top: -1em;
    width: 256px;
    overflow:hidden;
}


@media (min-width: 768px) {
    #modal-taxon {
        min-width:50em;
    }
    @{hc} #modal-taxon {
        #modal-taxon();
    }

    html /deep/ #modal-taxon {
        #modal-taxon();
    }
}


@media (max-width: 767px) {
    #modal-taxon {
        min-width: 85vw;
        left: -3.25vw;
    }

  @{hc} .hidden-xs {
    display: none !important;
  }
    html /deep/ .hidden-xs {
    display: none !important;
  }

}
.genus, .species, .subspecies{
    font-style:italic;
}
#cndb-result-list {
    margin-bottom: 5em;
    border-bottom: 2px solid #ddd;
}

.cndb-result-entry:hover {
    background: rgba(0,0,0,.2)!important;
    transition: all .2s ease-out;
}
.cndb-result-entry td {
    padding-left:.5rem;
    padding-right:.5rem;
}
.cndb-result-entry {
    cursor: pointer;
}
.cndb-result-entry paper-icon-button {
    margin-top: -0.75em;
}
#search {
    position:relative;
    font-size: 120%;
    top: -1rem;
}
#search_form {
    position:relative;
}
#loader {
    position:fixed;
    top:50%;
    left:50%;
}
#loader.good @{combinator} .circle {
    border-color: @material-green;
}
#loader.bad @{combinator} .circle {
    border-color: @material-red;
}
paper-dropdown.dropdown {
/* Override Bootstrap */
    position:absolute;
}
paper-toggle-button {
    margin-left:1rem;
}
paper-icon-button {
    vertical-align:middle;
}
.fullwidth {
    width:100%;
}
#collapse-advanced {
    margin-top:1rem;
}
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  width:80%;
}
.bs-callout-info {
  border-left-color: @bs-info;
}
.bs-callout-info h4 {
  color: @bs-info;
}
.bs-callout-danger {
  border-left-color: @bs-danger;
}
.bs-callout-danger h4 {
  color: @bs-danger;
}
.bs-callout-warning {
  border-left-color: @bs-warning;
}
.bs-callout-warning h4 {
  color: @bs-warning;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
#result_container .bs-callout {
    float:none;
}
form {
    /* margin-left:2rem; */
}

copyright-statement {
    position: relative;
    top: 1rem;
}

.help-block {
  display: block;
  margin-top: 1.25rem;
  margin-bottom: 10px;
  color: #737373;
}

#modal-taxon-editor {
    .filled-editor-dropdown {
        paper-dropdown-menu {
            width: 90%;
        }
    }
    paper-input {
        display:block;
    }
}

paper-toast, paper-spinner {
    z-index:1000;
}

#login {
    // Override otp
    width: inherit !important;
}
#login .form-group {
    clear: both;
}
@media(max-width: 767px) {
    #login {
        margin-left:0!important;
    }
}
.advanced-account-options li {
    margin: 1rem;
    list-style-type: none;
}
.change-password-form {
    position: relative;
}
.change-password-form .password-reqs {
    width: inherit !important;
    position: absolute;
    top: 1em;
    right: 0;
    background: #fff;
}
#password_security + #login {
    float:left;
    min-width:60%;
}

#login .form-inline .form-group {
    margin-bottom:15px;
}

.form-inline .has-feedback div {
    margin-left:0;
}

#outdated-warning {
    position:fixed;
    top:0;
    width:50%;
    margin:0;
    left:25%;
}

@media (max-width: 767px) {
    #outdated-warning {
        width: 80%;
        left: 10%;
    }
}

iron-label {
    margin-top: .5rem;
    display: block;
}

iron-label + paper-icon-button, label + paper-icon-button {
    padding-left: 0; // Fixes iPhone 5/s display glitch
}

#edit-notes {
    // width: 100%;
}

///////////////////////////////////////////////////
// Species account page
///////////////////////////////////////////////////


.clade {
    text-transform: title-case;
}

#taxonomy {
    .scientific-taxonomy {

    }
    .common-taxonomy {
        .text-muted;
    }
}

// @import "combinator.less";
