# Windows image file caches
Thumbs.db
ehthumbs.db
~$*

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Temp Files from emacs
\#*
\#*\#
.\#*
*.*~

CONFIG.php
errors/

#Extra latex stuff
*.C
*.K
*.M
*.out
*.aux

.vscode
.forum
bower_components/bootstrap/node_modules/
node_modules/
admin/node_modules/
admin/node_modules/*
pdf/pdf-gen/*.html
pdf/pdf-gen/*.pdf
*.orig/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
*.pyc
*.pdnBak
currentVersion~
.php_cs.cache
meta/database/asm_db_backup.sql
meta/database/create-sql-user.sql
install.php
*.pack
forum/flatboard/data/config/config.dat.php
forum/vanilla/conf/config.php
public_html_old
CONFIG.php.bak

