# log PHP errors to a file
# php_flag log_errors on
# php_value error_reporting 32767
# php_value error_log "./logs/error.log"


## Secure domain block -- only enable with SSL available
#RewriteEngine On
#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

#Header set Strict-Transport-Security "max-age=31536000"
#Header append Strict-Transport-Security includeSubDomains
#Header append Strict-Transport-Security preload

RewriteEngine On
RewriteBase /

# Rewrite including args
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteCond %{REQUEST_FILENAME}\.php ^(?:.*/)(.*)\.php(.*)$
RewriteCond %1:::%{REQUEST_URI} ^(.*?):::(.*)/\1/((&?[a-zA-Z_\-]+=[a-zA-Z_\-]+)+)/?
RewriteRule .* %2/%1.php?%3 [NC,L]

# Rewrite for no args
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteCond %{REQUEST_URI}\.php ^(.*)\.php(.*)$
RewriteRule .* %1.php?%2 [NC,QSA,L]

# Rewrite for html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteCond %{REQUEST_URI}\.html ^(.*)\.html$
RewriteRule .* %1.html [NC,QSA,L]
